---
title: homepage
layout: default

---
 
           <div style="color:#ff000000","font-family: Arial Black; font-size: 35px;height:100;text-align:top;>
                 <b>{{"         博客持续更新中..."}}</b> 
             </div>
             
  　　<ul>
　　　　{% for post in site.posts %}
　　　　
        {% capture y %}{{post.date | date:"%Y-%m"}}{% endcapture %}
           {% if year != y %}
             {% assign year = y %}
             <div style="color:#FF0000","font-family: Arial Black; font-size: 30px;>
                  <li class="listing-seperator"><b>{{post.date|date:"%Y年-%m月"}}</b></li>
             </div>
     
           {% endif %} 
  
　　　　　　<li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
　　　　{% endfor %}
　　</ul>



