---
title: homepage
layout: default

---
<style type="text/css"> 
li{ 
height:30px; 
list-style-type: none; 
} 
</style>

　　<ul>
　　　　{% for post in site.posts %}
　　　　
        {% capture y %}{{post.date | date:"%Y-%m"}}{% endcapture %}
           {% if year != y %}
             {% assign year = y %}
             <div style="color:#FF0000">
                     <li class="listing-seperator">　{{post.date | date:"%Y-%m"}} </li>
             </div>
     
           {% endif %} 
  
　　　　　　<li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
　　　　{% endfor %}
　　</ul>



